.container {
  width: 100%
}

body {
  background-image: url("/images/cosmos.jpg");
  background-repeat: repeat;
  background-size: cover;
  /* background-size: 100%; */
  /* max-width: 100%;
  height: auto;
  width:auto; */
}

.padded {
  padding: 25px;
}

.paddedSmall {
  padding: 10px;
  margin: 10px;
}

.extrapadded {
  margin: 300px, 25px, 80px, 25px;
}

.btnGreyBorder {
  border: 1px solid grey;
  margin: 10px;
  width: 150px;  
}

.btnBlueBorder {
  border: 2px solid blue;
  margin: 10px;
  width: 150px; 
}

.btnRedBorder {
  border: 2px solid red;
  margin: 10px;
  width: 150px; 
}

.footer {	
	/* grid-column: 2; */
	/* display: grid; */
	/* background-color:#E7F1F5; */
	/* color: black; */
	/* font-size: 18px; */
	align-self: center;	
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	bottom: 0;
}

.btn {
  font-family: "Brush Script MT"
}

.paddedGrid {
  margin-left: 200;
  margin-right: 50;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-family: "Brush Script MT";
  /* font-weight: bold; */
  font-size: 15px;
  color: white;
  width: 150px;
}