.container {
  width: 100%
}

body {
  background-color: black;
  /* background-color: #7cb342;
  background-color: #ef6c00; 
  background-color: #d81b60 */
}

.padded {
  padding: 25px;
}

.extrapadded {
  margin: 300px, 25px, 80px, 25px;
}