/* .card {
  min-width: 10000px;
} */
/* .todo-item {
  width: 600px;
  height: 50px;
  background-color: lightskyblue;
  float: left;
  border: solid 2px gold;
  box-sizing: border-box;
} */
/* .nav-wrapper {
  background: teal
} */

/* .card  {
  background: rgb(37, 205, 247) 
} */

.container {
  width: 100%
}